/* ==========================================================================
   Btn
   ========================================================================== */

// Btn
//
// markup:
// <a href="/news.html" class="c-btn c-btn--primary c-btn--center t-btn t-white">
//     <span class="c-label">
//         All news
//     </span>
// </a>
//
// Styleguide 6.1

.c-btn {
    width: 100%;
    height: auto;

    cursor: pointer;

    padding: {
        top: 15px;
        bottom: 15px;
    }

    &--primary {
        background-color: color(accent);

        padding: {
            left: 15px;
            right: 15px;
        }

        position: relative;

        &:hover {
            text-align: left;

            .c-label {

                &:after {
                    content: '';

                    display: block;

                    width: 20px;
                    height: 15px;

                    position: absolute;
                    top: 15px;
                    right: 15px;

                    background-image: url('./../img/btn-arrow-01.svg');
                    background-size: cover;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    &--medium {
        width: $size-btn-medium-width;
    }
    &--center {
        text-align: center;
    }
}

