/* ==========================================================================
   Btn
   ========================================================================== */

// Btn
//
// markup:
// <a href="/news.html" class="c-btn c-btn--primary c-btn--center t-btn t-white">
//     <span class="c-label">
//         All news
//     </span>
// </a>
//
// Styleguide 6.1

.c-btn {
    width: 100%;
    height: auto;

    cursor: pointer;

    padding: {
        top: offset(main) * 1.5;
        bottom: offset(main) * 1.5;
    }
    &--medium {
        width: $size-btn-medium-width;
    }
    &--center {
        text-align: center;
    }
    &--block {
        display: block;
        width: auto;
    }
}

// Btn primary
//
// markup:
// <div class="c-btn-wrapper">
//     <a href="/news.html" class="c-btn c-btn--primary c-btn--center t-btn t-white">
//         <span class="c-label">
//             All news
//         </span>
//     </a>
// </div>
//
// Styleguide 6.2

.c-btn--primary {
    background-color: color(accent);

    padding: {
        left: offset(main) * 1.5;
        right: offset(main) * 1.5;
    }

    position: relative;

    &:hover {
        text-align: left;

        .c-label {

            &:after {
                content: '';

                display: block;

                width: offset(main) * 2;
                height: offset(main) * 1.5;

                position: absolute;
                top: offset(main) * 1.5;
                right: offset(main) * 1.5;

                background-image: url('./../img/icon-arrow.svg');
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
    }
}

// Btn download
//
// markup:
// <div class="c-btn-wrapper c-btn-wrapper--left">
//     <a href="/news.html" class="c-btn c-btn--download c-btn--block c-btn--padded">
//         <span class="c-label t-btn t-white">Download our business model</span>
//         <span class="c-sub-label t-btn t-btn--small t-white">PDF 0.5MB</span>
//     </a>
// </div>
//
// Styleguide 6.3

.c-btn--download {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    background-color: color(accent);

    position: relative;

    padding: {
        top: offset(main);
        bottom: offset(main) * 0.6;
    }

    .c-sub-label {
        font-weight: $font-weight-regular;
    }

    &:hover {
        align-items: flex-start;

        .c-label,
        .c-sub-label {
            margin-left: - offset(main) * 4;
            margin-right: offset(main) * 4;
        }

        &:after {
            content: '';

                display: block;

                width: offset(main) * 2.7;
                height: offset(main) * 1.5;

                position: absolute;
                top: offset(main) * 1.5;
                right: offset(main) * 2;

                background-image: url('./../img/icon-download.svg');
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
        }
    }
}

.c-btn--padded {
    padding: {
        left: offset(main) * 6;
        right: offset(main) * 6
    }
}

// Btn download icon
//
// markup:
// <div class="c-btn-wrapper c-btn-wrapper--left">
//     <a href="/news.html" class="c-btn c-btn--download c-btn--download-icon c-btn--block c-btn--padded">
//         <span class="c-label t-btn t-blue">Download PDF</span>
//         <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//     </a>
// </div>
//
// Styleguide 6.4

.c-btn--download-icon {
    background-color: transparent;
    align-items: flex-start;
    border-left: 2px solid color(lgrey);
    padding: {
        left: offset(main) * 3;
        right: offset(main) * 6;
    }

    &:after {
        content: '';

        display: block;

        width: offset(main) * 2.7;
        height: offset(main) * 1.5;

        position: absolute;
        top: offset(main) * 1.5;
        right: offset(main) * 2;

        background-image: url('./../img/icon-download.svg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    &:hover {
        .c-label,
        .c-sub-label {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
