/* ==========================================================================
   Btn
   ========================================================================== */

// Btn
//
// markup:
// <a href="/news.html" class="c-btn c-btn--primary c-btn--center t-btn t-white">
//     <span class="c-label">
//         All news
//     </span>
// </a>
//
// Styleguide 6.1

.c-btn {
    width: 100%;
    height: auto;

    cursor: pointer;

    padding: {
        top: offset(main) * 1.5;
        bottom: offset(main) * 1.5;
    }
    &--medium {
        width: $size-btn-medium-width;
    }
    &--center {
        text-align: center;
    }
    &--block {
        display: block;
        width: auto;
    }
}

// Btn primary
//
// markup:
// <div class="c-btn-wrapper">
//     <a href="/news.html" class="c-btn c-btn--primary c-btn--center t-btn t-white">
//         <span class="c-label">
//             All news
//         </span>
//     </a>
// </div>
//
// Styleguide 6.2

.c-btn--primary {
    background-color: color(accent);

    padding: {
        left: offset(main) * 1.5;
        right: offset(main) * 1.5;
    }

    position: relative;
}

@include media('>=desktop-small') {

    .c-btn--primary:hover {
        text-align: left;

        .c-label {

            &:after {
                content: '';

                display: block;

                width: offset(main) * 2;
                height: offset(main) * 1.5;

                position: absolute;
                top: offset(main) * 1.5;
                right: offset(main) * 1.5;

                background-image: url('./../img/icon-arrow.svg');
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
    }
}

// Btn download
//
// markup:
// <div class="c-btn-wrapper c-btn-wrapper--left">
//     <a href="/news.html" class="c-btn c-btn--download c-btn--block c-btn--padded">
//         <span class="c-label t-btn t-white">Download our business model</span>
//         <span class="c-sub-label t-btn t-btn--small t-white">PDF 0.5MB</span>
//         <span class="c-btn__icon">
//             <svg class="o-svg">
//                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//             </svg>
//         </span>
//     </a>
// </div>
//
// Styleguide 6.3

.c-btn--download {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    background-color: color(accent);

    position: relative;

    padding: {
        top: offset(main);
        bottom: offset(main) * 0.6;
    }
}

.c-btn--download .c-label {
    font-weight: $font-weight-bold;
}

.c-btn--download .c-sub-label {
    font-weight: $font-weight-regular;
}

.c-btn--download .c-btn__icon {
    right: offset(main) * 2;
    opacity: 0;
}

.c-btn--download .o-svg {
    stroke: color(white);
}

@include media('>=desktop-small') {

    .c-btn--download:hover {
        align-items: flex-start;

        .c-label,
        .c-sub-label {
            margin-left: offset(main) * 1.5;
        }

        .c-btn__icon {
            opacity: 1;
        }
    }

    .c-btn--icon-hidden:hover {
        .c-btn__icon {
            opacity: 0;
        }
    }

}

// Btn download icon // ??
//
// markup:
//<a href="/news.html" class="c-btn c-btn--download c-btn--icon-centered c-btn--block">
//    <span class="c-label t-btn t-white t-thin">Download AR 2018</span>
//    <span class="c-sub-label t-btn t-btn--small t-white">PDF 0.5MB</span>
//    <span class="c-btn__icon">
//        <svg class="o-svg">
//            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//        </svg>
//    </span>
//</a>
//
// Styleguide 6.4

.c-btn--icon-centered {
    &:hover {
        .c-label,
        .c-sub-label {
            opacity: 0;
        }

        .c-btn__icon {
            opacity: 1;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

// Btn download icon // ??
//
// markup:
// <div class="c-btn-wrapper c-btn-wrapper--left">
//     <a href="/news.html" class="c-btn c-btn--download-icon c-btn--block c-btn--padded">
//         <span class="c-label t-btn t-blue">Download PDF</span>
//         <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//         <span class="c-btn__icon">
//             <svg class="o-svg">
//                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//             </svg>
//         </span>
//     </a>
// </div>
//
// Styleguide 6.5

.c-btn--download-icon {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0;

    @include media('>=mobile') {
        width: auto;
        flex-direction: column;
        background-color: transparent;
        align-items: flex-start;
        border-left: 2px solid color(lgrey);

        padding: {
            top: offset(main);
            bottom: offset(main) * 0.6;
            left: offset(main) * 3;
            right: offset(main) * 6;
        }
    }
}

.c-btn--download-icon .c-sub-label {
    margin-left: offset(main) * 2;
    font-weight: $font-weight-regular;

    @include media('>=mobile') {
        margin-left: 0;
    }
}

.c-btn--download-icon .o-svg {
    stroke: color(accent);
}

.c-btn__icon {
    width: offset(main) * 3.6;
    height: offset(main) * 2.6;

    position: absolute;
    top: 0;
    bottom: offset(main);
    right: 0;
    margin: auto 0;

    @include media('>=mobile') {
        bottom: 0;
    }
}

.c-btn__icon .o-svg {
    width: 100%;
    height: 100%;
}

.c-btn--padded {
    padding: {
        left: offset(main) * 6;
        right: offset(main) * 6
    }
}
