/* ==========================================================================
   Data slider card
   ========================================================================== */
.c-data-slider-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: $size-data-slider-card-width;
    height: $size-data-slider-card-height;

    opacity: 0;
    transition: $transition-default;

    @include media('>=mobile') {
        height: $size-quick-links-card-height-t;

        padding: 0 offset(main) * 1.4;
    }
    @include media('>=desktop-small') {
        opacity: 1;
        padding: 0;
    }
}

.c-data-slider-card.swiper-slide-active,
.c-data-slider-card.swiper-slide-next {
    opacity: 1;
}

.c-data-slider-card__container {
    width: $size-quick-links-card-width;
    height: $size-quick-links-card-height;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: $size-data-slider-card-width;
    height: 100%;

    @include media('>=mobile') {
        width: $size-data-slider-card-width;
        height: 100%;

        // padding: 0 offset(main) * 2;
    }
}

.c-data-slider-card__title,
.c-data-slider-card__number,
.c-data-slider-card__desc {
    padding: 0;
    margin: 0;
}

.c-data-slider-card__title {
    padding-bottom: offset(main) * 3.5;
}

.c-data-slider-card__number {
    padding-bottom: offset(main);
}
