/* ==========================================================================
    Data slider
   ========================================================================== */

.c-data-slider {
    display: flex;

    padding: 0;
    margin: 0;

    position: relative;

    height: auto;
}
