/* ==========================================================================
Header panel tab
========================================================================== */
// Header panel tab
//
// markup:
// <li class="c-header-panel-tab t-center">
//     <a href="#" class="c-link">
//         <div class="c-header-panel-tab__content">
//             <p class="c-header-panel-tab__title t-body t-body--alt">Share price <span class="t-bold">&euro;25.95</span></p>
//             <p class="c-header-panel-tab__subtitle t-smaller t-blue">12:23 – 20 Aug 2018</p>
//         </div>
//         <div class="c-header-panel-tab__hover">
//             <p class="c-header-panel-tab__hover-text t-body t-body--alt t-white">
//                 View listing information
//             </p>
//             <span class="c-header-panel-tab__hover-icon">
//                 <svg class="o-svg">
//                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#arrow"></use>
//                 </svg>
//             </span>
//         </div>
//     </a>
// </li>
//
// Styleguide 3.1

.c-header-panel-tab {
    list-style: none;

    width: $size-header-panel-tab-width;
    height: $size-header-panel-tab-height;

    margin: 0 auto;

    background-color: color(lblue);

    position: relative;

    @include media('>=mobile') {
        margin: 0;

        width: $size-header-panel-tab-width-t;
        height: $size-header-panel-tab-height-t;
    }
}

.c-header-panel-tab:nth-child(2) {
    @include media('>=mobile') {
        margin-left: offset(main) * 3;
    }
}

.c-header-panel-tab:before,
.c-header-panel-tab:after {
    content: '';
    display: block;

    width: offset(main) * 2;
    height: $size-header-panel-tab-height;

    position: absolute;
    top: 0;

    background-color: color(lblue);

    transform: skewX(-12deg);
}

.c-header-panel-tab:before {
    left: - offset(main);
}

.c-header-panel-tab:after {
    right: - offset(main);
    border-right: $size-big-border solid color(accent);
}

.c-header-panel-tab:nth-child(2) {
    display: none;

    @include media('>=mobile') {
        display: list-item;
    }
}

.c-header-panel-tab > .c-link {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-header-panel-tab__title {
    margin: 0;
}

.c-header-panel-tab__subtitle {
    margin: 0;
}

.c-header-panel-tab__hover {
    position: absolute;
    top: -100%;
    left: 0;

    width: 100%;
    height: $size-header-panel-tab-height;

    background-color: color(accent);

    padding: 0 offset(main) * 2;

    z-index: 100;

    transition: $transition-default;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-header-panel-tab__hover:before,
.c-header-panel-tab__hover:after {
    content: '';
    display: block;

    width: offset(main) * 2;
    height: $size-header-panel-tab-height;

    position: absolute;
    top: 0;

    background-color: color(accent);

    transition: $transition-default;

    transform: skewX(-12deg);
}

.c-header-panel-tab__hover:before {
    left: - offset(main);
}

.c-header-panel-tab__hover:after {
    right: - offset(main);
}

.c-header-panel-tab:hover .c-header-panel-tab__hover {
    top: 0;
}

.c-header-panel-tab__hover-text {
    padding: 0;
    margin: 0;

    width: 80%;
    font-weight: bold;

    text-align: left;
}

.c-header-panel-tab__hover-icon {
    width: 25px;
    height: 17px;

    margin-right: - offset(main) * 0.8;

    color: color(white);
}

.c-header-panel-tab__hover-icon .o-svg {
    width: 100%;
    height: 100%;

    fill: currentColor;
}

// Header panel tab alternative
//
// markup:
// <li class="c-header-panel-tab c-header-panel-tab--alt t-center">
//     <a href="#" class="c-link">
//         <div class="c-header-panel-tab__content">
//             <p class="c-header-panel-tab__title t-body t-body--alt"><span class="t-bold">OCI</span> At a Glance</p>
//             <p class="c-header-panel-tab__subtitle t-smaller t-blue">PDF 5.6 MB</p>
//         </div>
//         <div class="c-header-panel-tab__hover">
//             <p class="c-header-panel-tab__hover-text t-body t-body--alt t-white">
//                 Download
//             </p>
//             <span class="c-header-panel-tab__hover-icon">
//                 <svg class="o-svg">
//                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//                 </svg>
//             </span>
//         </div>
//     </a>
// </li>
//
// Styleguide 3.2

.c-header-panel-tab--alt .c-header-panel-tab__hover {
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
}
