/* ==========================================================================
Header panel tabs
========================================================================== */
// Header panel tabs
//
// markup:
// <ul class="c-header-panel-tabs">
//     <li class="c-header-panel-tab t-center">
//         <a href="#" class="c-link">
//             <div class="c-header-panel-tab__content">
//                 <p class="c-header-panel-tab__title t-body t-body--alt">Share price <span class="t-bold">&euro;25.95</span></p>
//                 <p class="c-header-panel-tab__subtitle t-smaller t-blue">12:23 – 20 Aug 2018</p>
//             </div>
//             <div class="c-header-panel-tab__hover">
//                 <p class="c-header-panel-tab__hover-text t-body t-body--alt t-white">
//                     View listing information
//                 </p>
//                 <span class="c-header-panel-tab__hover-icon">
//                     <img src="./static/img/icon-arrow.svg" alt="View listing information" />
//                 </span>
//             </div>
//         </a>
//     </li>
//     <li class="c-header-panel-tab c-header-panel-tab--alt t-center">
//         <a href="#" class="c-link">
//             <div class="c-header-panel-tab__content">
//                 <p class="c-header-panel-tab__title t-body t-body--alt"><span class="t-bold">OCI</span> At a Glance</p>
//                 <p class="c-header-panel-tab__subtitle t-smaller t-blue">PDF 5.6 MB</p>
//             </div>
//             <div class="c-header-panel-tab__hover">
//                 <p class="c-header-panel-tab__hover-text t-body t-body--alt t-white">
//                     Download
//                 </p>
//                 <span class="c-header-panel-tab__hover-icon">
//                     <img src="./static/img/icon-download.svg" alt="View listing information" />
//                 </span>
//             </div>
//         </a>
//     </li>
// </ul>
//
// Styleguide 3.3

.c-header-panel-tabs {
    width: 100%;

    list-style: none;

    padding: 0;
    margin: 0;

    z-index: 10;

    left: 0;

    position: absolute;
    bottom: - $size-header-panel-tab-height / 2;

    overflow: hidden;

    @include media('>=mobile') {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
