/* ==========================================================================
Header nav
========================================================================== */
.c-header-nav {
    padding: 0;
    margin: 0;

    display: none;

    @include media('>tablet') {
        display: flex;
    }
}

.c-header-nav.is-active {

}
