/* ==========================================================================
   HR Horizontal rule
   ========================================================================== */
.c-hr {
    border: none;

    width: 100%;
    height: offset(main);

    background-color: color(lblue);

    &--padded {
        margin-top: offset(main) * 6;
        margin-bottom: offset(main) * 6;
    }
    &--padded-small {
        margin-top: offset(main);
        margin-bottom: offset(main) * 5;
    }
    &--padded-medium {
        margin-top: offset(main) * 3;
        margin-bottom: offset(main) * 6;
    }
}
