/* ==========================================================================
   Latest news card
   ========================================================================== */
.c-latest-news-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: $size-latest-news-card;
}

.c-latest-news-card__container {
    width: $size-latest-news-card;
    height: $size-latest-news-card;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    position: relative;

    background-color: rgba(black, 0.35);

    padding: offset(main) * 2 offset(main);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: color(accent);
        transition: $transition-infinite;
    }
    @include media('>=mobile') {
        width: 100%;
    }
}

.c-latest-news-card__container:hover {

    &:after {
        width: 100%;
    }
}

.c-latest-news-card__date,
.c-latest-news-card__excerpt,
.c-latest-news-card__cta {
    margin: 0;
    padding: 0;

    max-width: 100%;
}

.c-latest-news-card__excerpt {

    @include media('>=mobile') {
        margin-top: offset(main);
        margin-bottom: auto;
    }
}
