/* ==========================================================================
   Logo
   ========================================================================== */
.c-logo {
    padding: 0;
    margin: 0;

    width: $size-logo-width-m;
    height: $size-header-height-m;

    color: color(main);

    @include media('>=mobile') {
        width: $size-logo-width-d;
        height: $size-header-height-d;
    }
}

.c-logo--alt {
    width: $size-logo-narrow;
    height: $size-footer-height;

    color: color(white);
}

.c-logo__decor {
    max-width: 100%;
    height: 100%;

    fill: currentColor;
}
