/* ==========================================================================
   Map
   ========================================================================== */
.c-map {
    width: $size-map-width;
    height: $size-map-height;

    padding: 0;
    margin: 0;

    position: relative;

    list-style: none;

    @include media('>=mobile') {
        margin: 0 auto;

        width: $size-map-width-t;
        height: $size-map-height-t;
    }
}

.c-map__img {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background-position: 0 -41px;
    background-repeat: no-repeat;
    background-size: $size-map-container-width $size-map-container-height;

    @include media('>=mobile') {
        background-position: 0 10px;
        background-size: $size-map-container-width-t $size-map-container-height-t;
    }
}
