/* ==========================================================================
   Map nav
   ========================================================================== */
.c-map-nav {
    width: 100%;

    position: relative;
}

.c-map-nav__pins {
    width: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;

    padding: offset(main) 0 offset(main) * 2;
}

.c-map-nav__clear-all {
    cursor: pointer;

    position: absolute;

    margin: 0;
    padding: 0;

    right: 0;

    opacity: 0;

    transition: $transition-default;

    @include media('>=mobile') {
        padding-top: offset(main) * 0.7;
    }
}

.c-map-nav__clear-all.is-visible {
    opacity: 1;
}

.c-map-nav__clear-all .c-label {
    position: relative;
}

.c-map-nav__clear-all .c-label:before {
    content: '';

    position: absolute;

    left: - offset(main) * 1.9;
    top: offset(main) * .4;

    width: offset(main) * 1.2;
    height: offset(main) * 1.2;

    background-image: url('./../img/close-orange.svg');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.c-map-nav__filters {
    width: 100%;

    margin: 0;
    padding: offset(main) 0 0;

    border-bottom: 1px solid color(main);

    list-style: none;

    @include media('>=mobile') {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    @include media('>=desktop-small') {
        margin-bottom: offset(main) * 6;
    }
}

.c-map-nav__filter {
    position: relative;

    @include media('>=mobile') {
        width: 32%;
    }

    &:nth-child(1) {
        z-index: 9;
    }
    &:nth-child(2) {
        z-index: 8;
    }
    &:nth-child(3) {
        z-index: 7;
    }
}

.js-filter-name,
.js-chosen-option {
    opacity: 0;
    width: 0;
    overflow: hidden;

    transition: $transition-default;

    &.is-visible {
        opacity: 1;
        width: auto;
        overflow: auto;
    }
}
