/* ==========================================================================
   Map Container
   ========================================================================== */
.c-map-container {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    // overflow-x: scroll;
    // overflow-y: hidden;

    position: relative;

    @include media('>=desktop-small') {
        overflow: hidden;
    }
}
