/* ==========================================================================
   Map Container
   ========================================================================== */
.c-map-container {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    overflow-x: scroll;
    overflow-y: hidden;
}
