/* ==========================================================================
   Map
   ========================================================================== */
.c-map {
    width: $size-map-width;
    height: $size-map-height;

    padding: 0;
    margin: 0;

    position: relative;

    list-style: none;
}

.c-map__img {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background-image: url('../img/img-map-bg.png');
    background-position: 0 -41px;
    background-repeat: no-repeat;

    background-size: $size-map-container-width $size-map-container-height;
}
