/* ==========================================================================
Search toggle
========================================================================== */
.c-search-toggle {
    padding: 0;
    margin: 0;

    display: none;

    cursor: pointer;

    @include media('>=mobile') {
        display: flex;
        align-items: center;
        justify-content: center;

        order: 5;

        width: $size-search-width + offset(main) * 2;

        margin-right: offset(main) * 2.5;

        height: 100%;

        padding: 0;
    }
    @include media('>=tablet') {
        margin-right: 0;
    }
    @include media('>=desktop') {
        width: $size-search-width + offset(main) * 5.5;

        padding: 0 offset(main) * 2;
    }
}

.c-search-toggle__icon {
    width: $size-search-width;
    height: $size-search-width;
}

.c-search-toggle__icon .o-icon-wrapper {
    width: $size-search-width;
    height: $size-search-width;
}

.c-search-toggle__icon .o-icon-wrapper .o-icon {
    width: $size-search-width;
    height: $size-search-width;
}

