/* ==========================================================================
Social icon
========================================================================== */
.c-social-icon {
    padding: 0;
    margin: 0;

    width: $size-social-icon-width;
    height: $size-social-icon-width;

    color: color(white);

    transition: $transition-default;
}

.c-social-icon:hover {
    color: color(accent);
}

.c-social-icon__decor {
    max-width: 100%;
    height: 100%;

    fill: currentColor;
}
