/* ==========================================================================
Sub nav
========================================================================== */
.c-sub-nav {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    padding: 0;
    margin: 0;
    list-style: none;

    max-height: 0;

    transition: $transition-slow;

    z-index: $z-index-sub-nav;

    @include media('>=mobile') {
        position: absolute;

        top: $size-header-height-d;
        left: 0;

        width: $size-header-sub-menu-width-d;

        background-color: color(white);
    }
}

.c-header-nav-menu__item.is-active > .c-sub-nav {
    max-height: 100vh;
}

// @include media('>=desktop-small') {

//     .c-header-nav-menu__item:hover > .c-sub-nav {
//         max-height: 100vh;
//     }
// }

.c-sub-nav__item {
    width: 100%;
    height: $size-header-menu-item-height;

    background-color: color(lblue);

    border-bottom: $size-mobile-menu-border-width solid color(white);

    @include media('>=mobile') {
        width: 100%;
        background-color: color(white);
        padding: 0 offset(default);
        border-bottom: 0;
    }
}

.c-sub-nav__item:first-of-type {

    @include media('>=mobile') {
        margin-top: offset(main);
    }
}

.c-sub-nav__item:last-of-type {

    @include media('>=mobile') {
        margin-bottom: offset(main);
    }
}

.c-sub-nav__item > .c-link {

    @include media('<mobile') {
        padding: 0 offset(main) * 3;
    }
}

.c-sub-nav__item > .c-link > .c-label {

    @include media('>=mobile') {
        position: relative;
    }
}

.c-sub-nav__item > .c-link > .c-label:after {

    @include media('>=mobile') {
        content: '';
        display: block;

        position: absolute;
        bottom: - offset(main);

        width: 0;
        height: $size-default-border;

        background-color: color(accent);

        transition: $transition-default;
    }
}

.c-sub-nav__item:hover > .c-link > .c-label:after {

    @include media('>=mobile') {
        width: 100%;
    }
}

.c-header-nav-menu__item.is-active >.c-sub-nav__item > .c-link > .c-label:after {

    @include media('>=mobile') {
        width: 100%;
    }
}
