/* ==========================================================================
Table wrapper
========================================================================== */
.c-table-wrapper {
    width: 100%;

    display: flex;
}

.c-table-wrapper--offset {
    margin: offset(xl) 0;
}
