/* ==========================================================================
WYSIWYG
========================================================================== */
.c-wysiwyg {
    @extend .t-body;

    ul {

        li {
            margin-bottom: offset(main) * 1.5;
        }
    }
    table {
        width: 100%;

        thead {
            text-align: left;
            position: relative;
        }
        th {
            bottom: 0;
            padding: 0;
            margin: 0;
        }
        tbody {
            td {
                border-top: 1px solid color(main);
            }
        }
        td {
            line-height: offset(main) * 6;
        }
        tfoot {
            td {
                border-top: 2px solid color(main);
                border-bottom: 2px solid color(main);
            }
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        @extend .t-underline;
    }

    @include media('>=mobile') {
        padding-bottom: offset(main) * 4;
    }

    &--nopadding {

        @include media('>=mobile') {
            padding-bottom: 0;
        }
    }
}
