/* ==========================================================================
Body
========================================================================== */
body {
    padding-top: $size-header-height-m;

    @include media('>=mobile') {
        padding-top: $size-header-height-d;
    }

    &.is-header-open {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        @include media('>=desktop') {
            overflow: auto;
        }
    }
    &.is-modal-open {
        overflow: hidden;

        @include media('>=mobile') {
            padding-right: 15px;
        }
    }
    &.is-search-open {
        overflow: hidden;

        @include media('>=mobile') {
            padding-right: 15px;
        }
    }
}
