/* ==========================================================================
   Objects
========================================================================== */
.o-svg {
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
}
