/* ==========================================================================
Feature panel wrapper
========================================================================== */

.c-feature-panel-wrapper {
    width: 100%;

    margin-top: offset(main) * 19;
    padding-top: offset(main) * 6;

    background-color: color(lblue);

    position: relative;

    @include media('>=mobile') {
        margin-top: offset(main) * 4;
        margin-bottom: offset(main) * 4;
        padding-top: offset(main) * 7;
    }
}
