/* ==========================================================================
Feature panel wrapper
========================================================================== */

.c-feature-panel-wrapper {
    width: 100%;

    margin-top: offset(main) * 19;
    padding-top: offset(main) * 6;
    padding-bottom: offset(main) * 4;

    background-color: color(lblue);

    position: relative;

    @include media('>=mobile') {
        margin-top: offset(main) * 4;
        margin-bottom: offset(main) * 4;
        height: #{$size-feature-panel-height-d - (offset(main) * 8)};
    }
}

.c-feature-panel-wrapper .l-inner {

    @include media('>=mobile') {
        height: 100%;
    }
}
