/* ==========================================================================
Feature panel
========================================================================== */
// Feature panel
//
// markup:
// <div class="l-section l-section--no-overflow">
//     <div class="c-feature-panel-wrapper">
//         <div class="c-feature-panel-decor">
//             <img src="./static/img/feature-panel-decor.jpg">
//         </div>
//         <div class="l-inner">
//             <div class="c-feature-panel">
//                 <h2 class="c-feature-panel__title t-h2">
//                     Our operational strength
//                 </h2>
//                 <p class="c-feature-panel__content t-body">
//                     Our competitive strengths lie in our high quality production facilities, our global low cost producer advantage, our diversified product portfolio, and our strategic locations with access to strong distribution and logistics capabilities.
//                 </p>
//                 <div class="c-btn-wrapper c-btn-wrapper--left">
//                     <a href="/our-operations.html" class="c-btn c-btn--medium c-btn--primary c-btn--center t-btn t-white">
//                         Our operations
//                     </a>
//                 </div>
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 7

.c-feature-panel {
    width: 100%;

    @include media('>=mobile') {
        width: 50%;
    }
    @include media('>=desktop-small') {
        width: 39%;
    }
}

.c-feature-panel__title,
.c-feature-panel__content {
    margin: 0;
}

.c-feature-panel__title {
    padding-top: offset(main) * 3;
    padding-bottom: offset(main) * 2;

    @include media('>=mobile') {
        padding-top: 0;
        padding-bottom: offset(main) * 4;
    }
    @include media('>=desktop-small') {
        max-width: 80%;
    }
}

.c-feature-panel__content {
    padding-bottom: offset(main) * 7.5;

    @include media('>=mobile') {
        padding-bottom: offset(main) * 5;
    }
    @include media('>=desktop-small') {
        padding-bottom: offset(main) * 8;
    }
}

.c-feature-panel .c-btn-wrapper {
    padding-bottom: offset(main) * 4;
}
