// File List
//
// markup:
//<ul class="c-file-list">
//    <li class="c-file-list__item">
//        <div class="c-file-list__item-wrapper">
//            <p class="c-file-list__date t-body t-body--alt-mobile t-dgrey">
//                4 June 2018
//            </p>
//            <h4 class="c-file-list__title t-h4 t-thin">
//                Tender Offer to Purchase OCIP Common Units
//            </h4>
//            <div class="c-btn-wrapper c-btn-wrapper--right">
//                <a href="/news.html" class="c-btn c-btn--download-icon c-btn--block c-btn--padded">
//                    <span class="c-label t-btn t-blue">Download PDF</span>
//                    <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//                    <span class="c-btn__icon">
//                        <svg class="o-svg">
//                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//                        </svg>
//                    </span>
//                </a>
//            </div>
//        </div>
//    </li>
//    <li class="c-file-list__item">
//        <div class="c-file-list__item-wrapper">
//            <p class="c-file-list__date t-body t-body--alt-mobile t-dgrey">
//                4 June 2018
//            </p>
//            <h4 class="c-file-list__title t-h4 t-thin">
//                Tender Offer to Purchase OCIP Common Units
//            </h4>
//            <div class="c-btn-wrapper c-btn-wrapper--right">
//                <a href="/news.html" class="c-btn c-btn--download-icon c-btn--block c-btn--padded">
//                    <span class="c-label t-btn t-blue">Download PDF</span>
//                    <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//                    <span class="c-btn__icon">
//                        <svg class="o-svg">
//                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//                        </svg>
//                    </span>
//                </a>
//            </div>
//        </div>
//    </li>
//</ul>
//
// Styleguide 15

.c-file-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.c-file-list__date {
    width: offset(main) * 38;
    margin-bottom: 0;

    white-space: nowrap;

    color: color(dgrey);
}

.c-file-list__date a {
    position: relative;
    font-weight: $font-weight-regular;

    &:after {
        position: absolute;
        bottom: - offset(main) / 3;
        left: 0;

        width: 100%;
        height: 1px;

        content: '';
        transition: $transition-default;

        background-color: color(accent);
    }
    &:hover {
        &:after {
            background-color: color(main);
        }
    }
}

.c-file-list__item {
    @include media('>=mobile') {
        margin-bottom: 0;
    }

    margin-bottom: offset(main) * 2;
    padding: offset(main) * 1.2 0;

    border-bottom: 1px solid color(lblue);

    &:last-child {
        margin-bottom: 0;
    }
}

.c-file-list__item.is-hidden {
    display: none;
}

.c-file-list__item:hover > .c-file-list__item-wrapper {
    background-color: rgba(color(lblue), .4);
}

.c-file-list__title {
    @include media('>=mobile') {
        margin-bottom: 0;
        margin-left: offset(main) * 3;
    }

    width: 100%;
    margin-bottom: offset(main) * 1.5;

    font-weight: $font-weight-bold;

    text-align: left;
}

.c-file-list__item-wrapper {
    @include media('>=mobile') {
        flex-direction: row;
        align-items: center;
    }

    display: flex;
    flex-direction: column;

    transition: $transition-default;
}

.c-file-list__item-wrapper .c-btn-wrapper .c-btn {
    padding: offset(main) offset(main) * 6 offset(main) offset(main) * 3;

    transition: $transition-default;
}

.c-file-list__item-wrapper .c-btn-wrapper .c-btn:hover {
    background-color: color(lblue);
}

.c-file-list__item-wrapper .c-btn-wrapper .c-btn__icon {
    right: offset(main);
}

@include media('<mobile') {
    .c-file-list__item-wrapper .c-btn-wrapper .c-btn {
        padding-left: 0;
    }

    .c-file-list__item-wrapper .c-btn-wrapper .c-btn__icon {
        right: 0;
    }
}

// File List without mobile margin bottom
//
// markup:
//<ul class="c-file-list c-file-list--no-mobile-margin">
//    <li class="c-file-list__item">
//        <div class="c-file-list__item-wrapper">
//            <p class="c-file-list__date t-body t-body--alt-mobile t-dgrey">
//                4 June 2018
//            </p>
//            <h4 class="c-file-list__title t-h4 t-thin">
//                Tender Offer to Purchase OCIP Common Units
//            </h4>
//        </div>
//    </li>
//    <li class="c-file-list__item">
//        <div class="c-file-list__item-wrapper">
//            <p class="c-file-list__date t-body t-body--alt-mobile t-dgrey">
//                4 June 2018
//            </p>
//            <h4 class="c-file-list__title t-h4 t-thin">
//                Tender Offer to Purchase OCIP Common Units
//            </h4>
//        </div>
//    </li>
//</ul>
//
// Styleguide 15.1

.c-file-list--no-mobile-margin .c-file-list__item {
    margin-bottom: 0;
}

// File List two columns
//
// markup:
//<ul class="c-file-list c-file-list--two-columns">
//    <li class="c-file-list__item">
//        <div class="c-file-list__item-wrapper">
//            <p class="c-file-list__date t-body t-body--alt-mobile t-dgrey">
//                4 June 2018
//            </p>
//            <h4 class="c-file-list__title t-h4 t-thin">
//                Tender Offer to Purchase OCIP Common Units
//            </h4>
//            <div class="c-btn-wrapper c-btn-wrapper--right">
//                <a href="/news.html" class="c-btn c-btn--download-icon c-btn--block c-btn--padded">
//                    <span class="c-label t-btn t-blue">Download PDF</span>
//                    <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//                    <span class="c-btn__icon">
//                        <svg class="o-svg">
//                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//                        </svg>
//                    </span>
//                </a>
//            </div>
//        </div>
//    </li>
//</ul>
//
// Styleguide 15.2

.c-file-list--two-columns {
    @include media('>=mobile') {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    display: flex;
    flex-direction: column;
}

.c-file-list--two-columns .c-file-list__item {
    @include media('>=mobile') {
        width: 48%;
        padding: offset(l) 0;
    }

    display: flex;
    align-items: center;

    width: 100%;
}

.c-file-list--two-columns .c-file-list__date {
    width: offset(main) * 11;

    line-height: 1;

    white-space: normal;
}

.c-file-list--two-columns .c-file-list__title {
    width: auto;

    white-space: nowrap;
}

// File List smaller
//
// markup:
//<ul class="c-file-list c-file-list--smaller">
//    <li class="c-file-list__item">
//        <div class="c-file-list__item-wrapper">
//            <p class="c-file-list__date t-body t-body--alt-mobile t-dgrey">
//                4 June 2018
//            </p>
//            <h4 class="c-file-list__title t-h4 t-thin">
//                Tender Offer to Purchase OCIP Common Units
//            </h4>
//            <div class="c-btn-wrapper c-btn-wrapper--right">
//                <a href="/news.html" class="c-btn c-btn--download-icon c-btn--block c-btn--padded">
//                    <span class="c-label t-btn t-blue">Download PDF</span>
//                    <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//                    <span class="c-btn__icon">
//                        <svg class="o-svg">
//                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//                        </svg>
//                    </span>
//                </a>
//            </div>
//        </div>
//    </li>
//</ul>
//
// Styleguide 15.3

.c-file-list--smaller .c-file-list__date {
    width: offset(main) * 12;

    white-space: normal;
}

.c-file-list--smaller .c-btn-wrapper--right {
    @include media('>=mobile') {
        width: 100%;
        max-width: offset(main) * 20;
    }
}
