// File List
//
// markup:
// <ul class="c-file-list">
//            <li class="c-file-list__item">
//                <div class="c-file-list__item-wrapper">
//                    <div class="c-file-list__item-block">
//                        <p class="c-file-list__date t-body t-body--alt t-dgrey">
//                            4 June 2018
//                        </p>
//                    </div>
//                    <div class="c-file-list__item-block">
//                        <div class="c-file-list__item-block-inside">
//                            <h4 class="c-file-list__title t-h4 t-thin">
//                                Tender Offer to Purchase OCIP Common Units
//                            </h4>
//                        </div>
//                        <div class="c-file-list__item-block-inside">
//                            <div class="c-btn-wrapper c-btn-wrapper--left">
//                                <a href="/news.html" class="c-btn c-btn--download-icon c-btn--block c-btn--padded">
//                                    <span class="c-label t-btn t-blue">Download PDF</span>
//                                    <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//                                    <span class="c-btn__icon">
//                                        <svg class="o-svg">
//                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//                                        </svg>
//                                    </span>
//                                </a>
//                            </div>
//                        </div>
//                    </div>
//                </div>
//            </li>
//            <li class="c-file-list__item">
//                <div class="c-file-list__item-wrapper">
//                    <div class="c-file-list__item-block">
//                        <p class="c-file-list__date t-body t-body--alt t-dgrey">
//                            4 June 2018
//                        </p>
//                    </div>
//                    <div class="c-file-list__item-block">
//                        <div class="c-file-list__item-block-inside">
//                            <h4 class="c-file-list__title t-h4 t-thin">
//                                Tender Offer to Purchase OCIP Common Units
//                            </h4>
//                        </div>
//                        <div class="c-file-list__item-block-inside">
//                            <div class="c-btn-wrapper c-btn-wrapper--left">
//                                <a href="/news.html" class="c-btn c-btn--download-icon c-btn--block c-btn--padded">
//                                    <span class="c-label t-btn t-blue">Download PDF</span>
//                                    <span class="c-sub-label t-btn t-btn--small t-blue">2.5MB</span>
//                                    <span class="c-btn__icon">
//                                        <svg class="o-svg">
//                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/symbol/svg/sprite.symbol.svg#icon-download"></use>
//                                        </svg>
//                                    </span>
//                                </a>
//                            </div>
//                        </div>
//                    </div>
//                </div>
//            </li>
//        </ul>
//
// Styleguide 15

.c-file-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.c-file-list__date {
    margin-bottom: 0;
    white-space: nowrap;
}

.c-file-list__item {
    border-bottom: 1px solid color(lblue);
    margin-bottom: offset(main) * 2;
    padding: offset(main) * 0.7 0;

    &:last-child {
        margin-bottom: 0;
    }

    @include media('>=mobile') {
        margin-bottom: 0;
    }
}

.c-file-list__title {
    text-align: left;
    width: 100%;

    @include media('>=mobile') {
        margin-left: offset(main) * 8;
    }
}

.c-file-list__item-wrapper {
    display: flex;
    flex-direction: column;

    @include media('>=mobile') {
        align-items: center;
        flex-direction: row;
    }
}

//.c-file-list__item-block {
//    display: flex;
//    flex-direction: column;
//
//    @include media('>=mobile') {
//        justify-content: space-between;
//        align-items: center;
//        flex-direction: row;
//
//        &:first-child {
//            white-space: nowrap;
//        }
//
//        &:last-child {
//            margin-left: offset(main) * 8;
//            justify-content: space-between;
//            width: 100%;
//        }
//    }
//}
//
//.c-file-list__item-block-inside {
//    width: 100%;
//
//    &:last-child {
//        margin-top: offset(main) * 0.5;
//    }
//
//    @include media('>=mobile') {
//        width: auto;
//
//        &:last-child {
//            margin-top: 0;
//        }
//    }
//}
