/* ==========================================================================
Grid block
========================================================================== */
// Grid block
//
// markup:
//<div class="c-grid-block c-grid-block--title-below c-grid-block--gray-image">
//    <figure class="c-grid-block__image">
//        <img src="./static/img/key-areas/img-employees.jpg" alt="Michael Bennett">
//    </figure>
//    <h5 class="c-grid-block__title t-h5">
//        Michael Bennett
//    </h5>
//    <p class="c-grid-block__desc t-body">
//        Independent Non-Executive Director and Chairman
//    </p>
//    <a class="c-grid-block__link t-link" href="#">
//         <span class="c-label">
//             Read biography
//         </span>
//     </a>
//</div>
//
// Styleguide 26.2

.c-grid-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    margin-bottom: offset(main) * 6;

    transition: $transition-default;

    @include media('>=mobile') {
        padding: 0;
        // height: $size-grid-component-card-height;

        &:not(:nth-child(3n+3)) {
            margin-right: offset(main) * 2;
        }
    }
    @include media('>=desktop-small') {
        opacity: 1;

        &:not(:nth-child(3n+3)) {
            margin-right: offset(main) * 2.3;
        }
    }
}

.c-grid-block--no-offset {

    @include media('>=mobile') {
        margin-bottom: 0;
    }
}

.c-grid-block.swiper-slide-active,
.c-grid-block.swiper-slide-next {
    opacity: 1;
}

.c-grid-block__image {
    width: 100%;
    height: $size-grid-component-card-img-height-by-4;

    overflow: hidden;

    position: relative;

    margin: 0;
}

.c-grid-block__image img {
    width: 100%;
    height: $size-grid-component-card-img-height-by-3;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    object-fit: cover;

    transition: $transition-infinite;
}

// .c-grid-block:hover img {
//     // transform: translate(-50%, -50%) scale(1.05);

//     transition: $transition-infinite;
// }

.c-grid-block__title {
    padding-top: offset(main);
    width: 100%;
}

.c-grid-block__link {
    margin-top: auto;
    margin-bottom: offset(main);
    padding-top: offset(main);
}

.c-grid-block__desc {
    padding-top: offset(main) * 1.5;
    margin-bottom: 0;
}

.c-grid-block__hidden-desc {
    display: none;
}

.c-grid-wrapper {

    &--by-one {
        .c-grid-block {
            width: 100%;

            &__image {

                @include media('>=desktop-small') {
                    height: $size-grid-component-card-img-height-by-3;
                }
            }
        }
    }
    &--by-two {
        .c-grid-block {

            @include media('>=mobile') {
                width: calc(50% - #{offset(main) * 2.5 / 2});
            }

            &__image {
                @include media('>=desktop-small') {
                    height: $size-grid-component-card-img-height-by-3;
                }
            }
        }
    }
    &--by-three {
        .c-grid-block {

            @include media('>=mobile') {
                width: calc(33% - #{offset(main) * 2.5 / 2});
            }

            &__image {
                @include media('>=desktop-small') {
                    height: $size-grid-component-card-img-height-by-3;
                }
            }
        }
    }
    &--by-four {
        .c-grid-block {

            @include media('>=mobile') {
                width: calc(25% - #{offset(main) * 2.5 / 2});
            }

            &__image {
                @include media('>=desktop-small') {
                    height: $size-grid-component-card-img-height-by-4;
                }
            }
        }
    }
    &--by-five {
        .c-grid-block {

            @include media('>=mobile') {
                width: calc(20% - #{offset(main) * 2.5 / 2});
            }

            &__image {
                @include media('>=desktop-small') {
                    height: $size-grid-component-card-img-height-by-4;
                }
            }
        }
    }
}

// Grid block gray image
//
// markup:
//<div class="c-grid-block c-grid-block--title-below c-grid-block--gray-image">
//    <figure class="c-grid-block__image">
//        <img src="./static/img/key-areas/img-employees.jpg" alt="Michael Bennett">
//    </figure>
//    <h5 class="c-grid-block__title t-h5">
//        Michael Bennett
//    </h5>
//    <p class="c-grid-block__desc t-body">
//        Independent Non-Executive Director and Chairman
//    </p>
//    <a class="c-grid-block__link t-link" href="#">
//         <span class="c-label">
//             Read biography
//         </span>
//     </a>
//</div>
//
// Styleguide 26.4

.c-grid-block--gray-image .c-grid-block__image {
    filter: grayscale(100%);
}

// Grid block link space
//
// markup:
//<div class="c-grid-block c-grid-block--title-below c-grid-block--link-space">
//    <figure class="c-grid-block__image">
//        <img src="./static/img/key-areas/img-employees.jpg" alt="Supporting local stem programmes">
//    </figure>
//    <h5 class="c-grid-block__title t-h5 t-thin">
//        Supporting local stem programmes
//    </h5>
//    <a class="c-grid-block__link t-link" href="#">
//         <span class="c-label">
//             Read more
//         </span>
//     </a>
//</div>
//
// Styleguide 26.5

.c-grid-block--link-space {
    padding-bottom: offset(main) * 5;
}
