/* ==========================================================================
Grid
========================================================================== */
// Grid
//
// markup:
//<section class="l-section">
//    <div class="l-inner">
//        <div class="c-section-divider">
//            <div class="l-inner">
//                <h4 class="c-section-divider__title t-sec-divider">
//                    Our four key areas
//                </h4>
//            </div>
//        </div>
//        <div class="c-grid-wrapper">
//            <div class="c-grid-wrapper__block">
//                <div class="c-grid-block">
//                    <h5 class="c-grid-block__title t-h5">
//                        Health and Safety
//                    </h5>
//                    <figure class="c-grid-block__image">
//                        <img src="./static/img/key-areas/img-health-safety.jpg" alt="Health and Safety">
//                    </figure>
//                    <p class="c-grid-block__desc t-body">
//                        We are committed to providing a safe and healthy workplace.
//                    </p>
//                    <a class="c-grid-block__link t-link" href="#">
//                         <span class="c-label">
//                             Health and Safety
//                         </span>
//                     </a>
//                </div>
//            </div>
//            <div class="c-grid-wrapper__block">
//                <div class="c-grid-block">
//                    <h5 class="c-grid-block__title t-h5">
//                        Environment
//                    </h5>
//                    <figure class="c-grid-block__image">
//                        <img src="./static/img/key-areas/img-environment.jpg" alt="Environment">
//                    </figure>
//                    <p class="c-grid-block__desc t-body">
//                        We are committed to being an environmental steward.
//                    </p>
//                    <a class="c-grid-block__link t-link" href="#">
//                         <span class="c-label">
//                             Environment
//                         </span>
//                     </a>
//                </div>
//            </div>
//            <div class="c-grid-wrapper__block">
//                <div class="c-grid-block">
//                    <h5 class="c-grid-block__title t-h5">
//                        Our communities
//                    </h5>
//                    <figure class="c-grid-block__image">
//                        <img src="./static/img/key-areas/img-communities.jpg" alt="Our communities">
//                    </figure>
//                    <p class="c-grid-block__desc t-body">
//                        We are committed to working towards global food security.
//                    </p>
//                    <a class="c-grid-block__link t-link" href="#">
//                         <span class="c-label">
//                             Our communities
//                         </span>
//                     </a>
//                </div>
//            </div>
//            <div class="c-grid-wrapper__block">
//                <div class="c-grid-block">
//                    <h5 class="c-grid-block__title t-h5">
//                        Our communities
//                    </h5>
//                    <figure class="c-grid-block__image">
//                        <img src="./static/img/key-areas/img-communities.jpg" alt="Our communities">
//                    </figure>
//                    <p class="c-grid-block__desc t-body">
//                        We are committed to working towards global food security.
//                    </p>
//                    <a class="c-grid-block__link t-link" href="#">
//                         <span class="c-label">
//                             Our communities
//                         </span>
//                     </a>
//                </div>
//            </div>
//        </div>
//    </div>
//</section>
//
// Styleguide 26

.c-grid-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: auto;
}

.c-grid-wrapper__block {
    height: 100%;
}
