/* ==========================================================================
Header panel wrapper
========================================================================== */
.c-header-panel-wrapper {
    width: 100%;

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    margin-bottom: offset(main) * 3;

    position: relative;
}
