/* ==========================================================================
Header nav menu
========================================================================== */
.c-header-nav-menu {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    list-style: none;

    transition: $transition-default;

    @include media('>tablet') {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: auto;
    }
}

.c-header-nav-menu__item {
    width: 100%;
    height: auto;

    @include media('>tablet') {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: relative;

        width: 100%;
        height: 100%;

        padding: 0 offset(main) * 2;
    }
}

.c-header-nav-menu__item.has-children > .c-link {
    position: relative;
}

.c-header-nav-menu__item.has-children > .c-link:before {
    content: '';
    position: absolute;

    display: block;
    right: offset(main) * 3.1;
    top: offset(main) / 2;

    width: $size-mobile-menu-submenu-toggle-width;
    height: $size-mobile-menu-submenu-toggle-width;

    border-right: $size-mobile-menu-border-width solid color(accent);
    border-bottom: $size-mobile-menu-border-width solid color(accent);

    transform: rotate(45deg);
    transition: transform .2s, bottom .2s;

    @include media('>tablet') {
        display: none;
    }
}

.c-header-nav-menu__item.has-children.is-active > .c-link:before {
    top: auto;
    bottom: offset(main);

    transform: rotate(225deg);
}

.c-header-nav-menu__item .c-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    padding: 0 offset(main) * 3;

    @include media('>tablet') {
        padding: 0;
    }
}

.c-header-nav-menu__item:first-child > .c-link {
    border-top: $size-mobile-menu-border-width solid color(lblue);

    @include media('>tablet') {
        border: none;
    }
}

.c-header-nav-menu__item > .c-link {
    height: $size-header-menu-item-height;

    border-bottom: $size-mobile-menu-border-width solid color(lblue);

    @include media('>tablet') {
        height: 100%;
        border: none;
    }
}


.c-header-nav-menu__item > .c-link > .c-label {

    @include media('>tablet') {
        position: relative;
    }
}

.c-header-nav-menu__item > .c-link > .c-label:after {

    @include media('>tablet') {
        content: '';
        display: block;

        position: absolute;
        bottom: - offset(main);

        width: 0;
        height: $size-default-border;

        background-color: color(accent);

        transition: $transition-default;
    }
}

.c-header-nav-menu__item:hover > .c-link > .c-label:after {

    @include media('>tablet') {
        width: 100%;
    }
}

.is-header-open .c-header-nav-menu {
    height: calc(100vh - #{$size-footer-height} - #{$size-header-height-m} - #{$size-search-container-height});
    overflow-y: scroll;
    transition: $transition-default;
}
