/* ==========================================================================
Header panel full
========================================================================== */
// Header panel
//
// markup:
// <div class="l-hero">
//     <div class="c-header-panel-wrapper" style="background-image: url('../static/img/img-header-panel-1.jpg');">
//         <div class="l-inner l-inner--90 l-inner--desktop-70">
//             <div class="c-header-panel t-center">
//                 <h1 class="c-header-panel__title t-h1">
//                     Global outlook, local focus
//                 </h1>
//                 <p class="c-header-panel__desc t-body t-body--big t-white">
//                     We are a global producer and distributor of natural gas-based fertilizers and industrial chemicals with excellent diversification across products and geographies.
//                 </p>
//                 <div class="c-header-panel__arrow-container js-scroll-down">
//                     <span class="c-header-panel__arrow">
//                     </span>
//                 </div>
//                 <ul class="c-header-panel-tabs">
//                     <li class="c-header-panel-tab t-center">
//                         <a href="#" class="c-link">
//                             <div class="c-header-panel-tab__content">
//                                 <p class="c-header-panel-tab__title t-body t-body--alt">Share price <span class="t-bold">&euro;25.95</span></p>
//                                 <p class="c-header-panel-tab__subtitle t-smaller t-blue">12:23 – 20 Aug 2018</p>
//                             </div>
//                             <div class="c-header-panel-tab__hover">
//                                 <p class="c-header-panel-tab__hover-text t-body t-body--alt t-white">
//                                     View listing information
//                                 </p>
//                                 <span class="c-header-panel-tab__hover-icon">
//                                     <img src="./static/img/icon-arrow.svg" alt="View listing information" />
//                                 </span>
//                             </div>
//                         </a>
//                     </li>
//                     <li class="c-header-panel-tab c-header-panel-tab--alt t-center">
//                         <a href="#" class="c-link">
//                             <div class="c-header-panel-tab__content">
//                                 <p class="c-header-panel-tab__title t-body t-body--alt"><span class="t-bold">OCI</span> At a Glance</p>
//                                 <p class="c-header-panel-tab__subtitle t-smaller t-blue">PDF 5.6 MB</p>
//                             </div>
//                             <div class="c-header-panel-tab__hover">
//                                 <p class="c-header-panel-tab__hover-text t-body t-body--alt t-white">
//                                     Download
//                                 </p>
//                                 <span class="c-header-panel-tab__hover-icon">
//                                     <img src="./static/img/icon-download.svg" alt="View listing information" />
//                                 </span>
//                             </div>
//                         </a>
//                     </li>
//                 </ul>
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 3

.c-header-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: offset(main) * 3;

    @include media ('>=mobile-small') {
        padding-top: offset(main) * 8.5;
    }
    @include media('>=mobile') {
        padding-top: offset(main) * 18;
    }
    @include media('>tablet') {
        padding-top: offset(main) * 18;
    }
}

.c-header-panel__desc {
    padding-bottom: offset(main) * 4.5;
    margin-bottom: 0;

    @include media('>=mobile') {
        padding-bottom: offset(main) * 8.5;
        padding-top: offset(main);
    }
}

.c-header-panel__arrow-container {
    display: block;
    padding: offset(main);

    padding-bottom: offset(main) * 8;

    cursor: pointer;

    @include media('>=mobile') {
        padding-bottom: offset(main) * 10.5;
    }
}

.c-header-panel__arrow {
    @include arrow;
    transform: rotate(45deg);
}

/* ==========================================================================
Header panel short
========================================================================== */
// Header panel short
//
// markup:
// <div class="l-hero">
//     <div class="c-header-panel-wrapper" style="background-image: url('../static/img/img-header-panel-3.jpg');">
//         <div class="l-inner l-inner--90 l-inner--desktop-70">
//             <div class="c-header-panel c-header-panel--short t-center">
//                 <h1 class="c-header-panel__title t-h1">
//                     OCI Nitrogen
//                 </h1>
//                 <p class="c-header-panel__desc t-body t-body--big t-white">
//                     OCI Nitrogen is Europe’s second largest CAN producer and the world’s largest melamine producer.
//                 </p>
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 3.4

.c-header-panel--short {
    padding-bottom: offset(main) * 8.5;
    height: $size-header-panel-short-height;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media('>=mobile') {
        padding-top: offset(main) * 8.5;
    }
}

.c-header-panel--short .c-header-panel__desc {
    padding-bottom: 0;
}
