/* ==========================================================================
Header panel wrapper
========================================================================== */
.c-header-panel-wrapper {
    width: 100%;
    height: $size-header-panel-height-m;

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
