/* ==========================================================================
    Logos slider
   ========================================================================== */

.c-logos-slider {
    display: flex;

    padding: 0;
    margin: 0;

    position: relative;

    height: auto;
}
