/* ==========================================================================
   Map pin
   ========================================================================== */
.c-map-pin {
    position: absolute;

    width: offset(main) * 3;
    height: offset(main) * 3;

    cursor: pointer;

    background-color: black;

    background-image: url('../img/img-map-pin.svg');
    background-size: offset(main) * 2.1 offset(main) * 2.1;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    outline: none;
    -webkit-tap-highlight-color: transparent;

    border-radius: 50%;

    transition: $transition-default;

    &--green {
        background-color: color(mapgreen);
    }
    &--blue {
        background-color: color(mapblue);
    }
    &--grey {
        background-color: color(lgrey);
    }

    @include media('>=mobile') {
        width: offset(main) * 3.35;
        height: offset(main) * 3.35;

        border-radius: 100%;
    }
}

.c-map-pin__modal {
    max-height: 0;
    overflow: hidden;

    z-index: 2;

    left: -200%;

    display: none;
}

.is-modal-active .c-map-pin__modal {
    position: fixed;
    left: 50%;

    transform: translateX(-50%) translateY(-20%);

    z-index: 1;

    display: block;

    background-color: color(lblue);
    padding: offset(main) * 3 offset(main) * 1.5 offset(main) * 2;

    width: $size-map-pin-modal-width;
    height: auto;
    max-height: $size-map-pin-modal-height + 100;

    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.5);

    @include media('>=mobile') {
        position: absolute;
        left: - $size-map-pin-modal-width / 2;
        top: - offset(main) * 15;

        transform: none;
    }
}

.is-modal-active .c-map-pin__close {
    position: absolute;

    top: offset(main);
    right: offset(main);

    width: offset(main) * 2.5;
    height: offset(main) * 2.5;

    padding: offset(main) / 2;
}

.is-modal-active .c-map-pin__close .o-svg {
    width: 100%;
    height: 100%;
}

.is-modal-active .c-map-pin__desc {
    padding-bottom: offset(main) * 3.5;
}

.is-modal-active .c-btn-wrapper {
    max-width: $size-map-pin-modal-btn-width;
}
