/* ==========================================================================
Our history slider
========================================================================== */

.c-our-history-slider {
    list-style: none;

    margin: 0;
    padding: 0;

    height: auto;
}
