/* ==========================================================================
Our history slide
========================================================================== */

.c-our-history-slide {
    height: $size-our-story-card-height;

    background-color: color(white);

    transition: $transition-default;

    @include media('>=desktop-small') {
        height: $size-our-story-card-height-d;
    }
}

.c-our-history-slide.swiper-slide-next,
.c-our-history-slide.swiper-slide-prev {

    @include media('>=mobile') {
        opacity: .5;

        .c-our-history-slide__year h3 {
            opacity: 0;
        }
    }
}

.c-our-history-slide__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.c-our-history-slide__img {
    width: 100%;
    height: $size-our-story-card-img-height;

    padding: 0;
    margin: 0;

    position: relative;

    overflow: hidden;

    @include media('>=mobile') {
        height: $size-our-story-card-img-height-t;
    }
}

.c-our-history-slide__img img {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    transition: $transition-infinite;

    width: 100%;
    height: auto;
}

.c-our-history-slide:hover .c-our-history-slide__img img {
    transform: translate(-50%, -50%) scale(1.1);

    transition: $transition-infinite;
}

.c-our-history-slide__content {
    margin: 0;
    padding: offset(main) * 1.5 offset(main);

    @include media('>=desktop-small') {
        max-width: 85%;
    }
}

.c-our-history-slide__year {
    margin: 0;
    margin-top: auto;

    text-align: center;

    height: $size-our-story-card-year-height;

    width: calc(100% + #{offset(main) * 2});
    left: - offset(main);

    border-top: 1px solid color(main);

    position: relative;

    &:before {
        display: block;
        content: '';

        position: absolute;
        top: - #{$size-our-story-card-dot-size / 2};
        left: calc(50% - #{$size-our-story-card-dot-size / 2});

        width: $size-our-story-card-dot-size;
        height: $size-our-story-card-dot-size;

        border-radius: 50%;

        background-color: color(accent);
    }
}

.c-our-history-slide:first-child .c-our-history-slide__year,
.c-our-history-slide:last-child .c-our-history-slide__year {
    width: 100%;
    left: 0;
}

.c-our-history-slide__year h3 {
    height: 100%;
    line-height: $size-our-story-card-year-height;
}
