/* ==========================================================================
Search toggle
========================================================================== */
.c-search-toggle {
    padding: 0;
    margin: 0;

    display: none;

    @include media('>tablet') {
        display: flex;
    }
}
