/* ==========================================================================
Search form close
========================================================================== */

.c-search-form-close {
    display: none;
}

.is-search-open .c-search-form-close {
    display: block;

    cursor: pointer;

    position: absolute;
    top: offset(main) * 2.5;
    right: offset(main) * 2;

    width: offset(main) * 3;
    height: offset(main) * 3;

    padding: offset(main) * 0.65;

    fill: color(accent);
}

.c-search-form-close .o-svg {
    fill: currentColor;

    width: 100%;
    height: 100%;
}
