/* ==========================================================================
Social icon
========================================================================== */
.c-social-icon {
    padding: 0;
    margin: 0;

    width: $size-social-icon-width;
    height: $size-social-icon-width;
}

.c-social-icon .c-img {
    width: $size-social-icon-width;
    height: $size-social-icon-width;
}
