/* ==========================================================================
   Standfirst with desc
   ========================================================================== */

// Standfirst with desc
//
// markup:
// <section class="l-section">
//     <div class="l-inner l-inner--55">
//         <p class="c-standfirst t-standfirst">
//             OCI produces nitrogen fertilizers, methanol and other natural gas based products, serving agricultural and industrial customers from the Americas to Asia. OCI is a leading global nitrogen fertilizer producer with over 9.6 million metric tons of capacity. OCI is also on track to become one of the world’s largest methanol producers with almost 3.7 million tons of capacity.
//             <br>
//             <br>
//             OCI N.V. employs approximately 3,000 people and is listed on the NYSE Euronext in Amsterdam under the symbol “OCI”.
//         </p>
//         <p class="c-standfirst-desc t-body">
//             OCI produces nitrogen fertilizers, methanol and other natural
//         </p>
//     </div>
// </section>
//
// Styleguide 9.1

.c-standfirst-desc {
    padding-top: offset(main) * 6;
}

.c-standfirst-desc--small-padding {
    padding-top: offset(main) * 4.5;

    @include media('>=mobile') {
        padding-top: offset(main) * 3;
    }
}
