/* ==========================================================================
Sub nav
========================================================================== */
.c-sub-nav {
    display: flex;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;

    padding: 0;
    margin: 0;
    list-style: none;

    transition: $transition-slow;

    @include media('>mobile') {
        position: fixed;

        transition: none;

        width: $size-header-sub-menu-width-d;
        min-height: 0;
    }
}

.c-header-nav-menu__item.is-active .c-sub-nav {
    display: flex;
    max-height: 150vh;

    @include media('>mobile') {
        min-height: 100px;
    }
}

.c-sub-nav__item {
    width: 100%;
    height: $size-header-menu-item-height;

    background-color: color(lblue);

    border-bottom: $size-mobile-menu-border-width solid color(white);

    @include media('>mobile') {
        width: 100%;
        background-color: color(white);
        padding: 0 offset(default);
    }
}

.c-sub-nav.is-active {
    @include media('>mobile') {
        width: $size-header-sub-menu-width-d;
        min-height: 100%;
    }
}

.c-sub-nav__item > .c-link > .c-label {

    @include media('>mobile') {
        position: relative;
    }
}

.c-sub-nav__item > .c-link > .c-label:after {

    @include media('>mobile') {
        content: '';
        display: block;

        position: absolute;
        bottom: - offset(main);

        width: 0;
        height: $size-default-border;

        background-color: color(accent);

        transition: $transition-default;
    }
}

.c-sub-nav__item:hover > .c-link > .c-label:after {

    @include media('>mobile') {
        width: 100%;
    }
}