.c-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.c-table-list__item {
    padding: offset(main) * 2 0;
    border-bottom: 1px solid color(main);
}

.c-table-list__item--heading {
    border-width: 2px;
    padding-bottom: 0;
}
