/* ==========================================================================
Text component
========================================================================== */
// Text component
//
// markup:
// <div class="c-text-component">
//     <div class="c-text-component__column">
//         <h2 class="c-text-component__title t-h2">
//             Our facilities
//         </h2>
//     </div>
//     <div class="c-text-component__column">
//         <div class="c-wysiwyg {% if noPadding %}c-wysiwyg--nopadding{% endif %}">
//             Our Fertilizer & Chemicals Group began in 2005 as a single minority investment in Egypt Basic Industries Corporation (EBIC).<br><br>
//             Today, our production facilities include OCI Nitrogen and BioMCN in the Netherlands, Egyptian Fertilizers Company (EFC) and EBIC in Egypt, Sorfert Algerie in Algeria, and Iowa Fertilizer Company, OCI Beaumont and Natgasoline in the United States.
//         </div>
//         {% if secondParagraph %}
//             <div class="c-wysiwyg u-m-hidden {% if noPadding %}c-wysiwyg--nopadding{% endif %}">
//                 Our plants are strategically located on the Red Sea (south of Suez Canal), Mediterranean and Atlantic coasts, making them easily accessible from sea via key ports. Good road links enable swift distribution inland and to other ports.<br><br>
//                 Click on our interactive locations map below for more information about each production facility.
//             </div>
//         {% endif %}
//         {% if btnText %}
//             <div class="c-btn-wrapper c-btn-wrapper--left u-m-hidden">
//                 <a href="/news.html" class="c-btn c-btn--{{ btnType }} c-btn--block c-btn--padded">
//                     <span class="c-label t-btn t-white">{{ btnText }}</span>
//                     <span class="c-sub-label t-btn t-btn--small t-white">{{ btnSubtitle }}</span>
//                 </a>
//             </div>
//         {% endif %}
//     </div>
// </div>
//
// Styleguide 11

.c-text-component {
    display: flex;
    flex-direction: column;

    padding-top: offset(main) * 3.5;
    padding-bottom: offset(main);

    // height: 100%;

    @include media('>=desktop-small') {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        padding-top: offset(main);
    }
}

.c-text-component--clear,
.c-text-component--clear .c-text-component__title {
    padding-top: 0;
    padding-bottom: 0;
}

.c-text-component__column {
    width: 100%;
    height: auto;
}

.c-text-component__column:nth-child(1) {

    @include media('>=desktop-small') {
        width: 33%;
    }
}

.c-text-component__column:nth-child(2) {

    @include media('>=desktop-small') {
        width: 63%;

        margin-right: - offset(main) * 4;
    }
}

.c-text-component__title,
.c-text-component__subtitle,
.c-text-component__description {
    margin: 0;
    padding: 0;
}

.c-text-component__title {
    padding-bottom: offset(main) * 1.5;
}

.c-text-component__subtitle {

    @include media('>=mobile') {
        max-width: 70%;
    }
    @include media('>=desktop-small') {
        max-width: 100%;
    }
}

.c-text-component__description {

    @include media('>=mobile') {
        max-width: 70%;
    }
    @include media('>=desktop-small') {
        max-width: 95%;
    }
}
