/* ==========================================================================
Text component
========================================================================== */

.c-text-component {
    display: flex;
    flex-direction: column;

    padding-top: offset(main) * 3.5;
    padding-bottom: offset(main);

    @include media('>=desktop-small') {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        padding-top: offset(main);
    }
}

.c-text-component__column {
    width: 100%;
    height: auto;
}

.c-text-component__column:nth-child(1) {

    @include media('>=desktop-small') {
        width: 33%;

        padding-top: offset(main) * 7;
    }
}

.c-text-component__column:nth-child(2) {

    @include media('>=desktop-small') {
        width: 63%;

        margin-right: - offset(main) * 4;
    }
}

.c-text-component__title,
.c-text-component__subtitle,
.c-text-component__description {
    margin: 0;
    padding: 0;
}

.c-text-component__subtitle {

    @include media('>=mobile') {
        max-width: 70%;
    }
    @include media('>=desktop-small') {
        max-width: 100%;
    }
}

.c-text-component__description {

    @include media('>=mobile') {
        max-width: 70%;
    }
    @include media('>=desktop-small') {
        max-width: 95%;
    }
}
