.t-link.pseudo-class-hover .c-label:after {
  background-color: #283A6A;
}

.t-underline.pseudo-class-hover:after,
.c-wysiwyg a.pseudo-class-hover:after {
  background-color: #283A6A;
}

.t-body-link.pseudo-class-hover .c-label:after {
  background-color: #283A6A;
}

a.pseudo-class-hover {
  text-decoration: none;
}

.ui-link.pseudo-class-hover:before {
  transition-timing-function: cubic-bezier(0.62, 0.02, 0.34, 1);
  transition-duration: .24s;
  transform: scaleX(1);
}

.ui-form input.pseudo-class-focus,
input.ui-input.pseudo-class-focus,
input textarea.pseudo-class-focus,
input select.pseudo-class-focus,
.ui-form
  textarea.pseudo-class-focus,
textarea.ui-input.pseudo-class-focus,
textarea textarea.pseudo-class-focus,
textarea select.pseudo-class-focus,
.ui-form
  select.pseudo-class-focus,
select.ui-input.pseudo-class-focus,
select textarea.pseudo-class-focus,
select select.pseudo-class-focus {
  outline: none;
}

.c-btn--primary.pseudo-class-hover {
  text-align: left;
}

.c-btn--primary.pseudo-class-hover .c-label:after {
  content: '';
  display: block;
  width: 20px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("./../img/icon-arrow.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.c-btn--download.pseudo-class-hover {
  align-items: flex-start;
}

.c-btn--download.pseudo-class-hover .c-label,
.c-btn--download.pseudo-class-hover .c-sub-label {
  margin-left: -40px;
  margin-right: 40px;
}

.c-btn--download.pseudo-class-hover .c-btn__icon {
  opacity: 1;
}

.c-content-tabs__tab.pseudo-class-hover {
  cursor: pointer;
}

.c-file-list__item.pseudo-class-last-child {
  margin-bottom: 0;
}

.c-footer__nav-item.pseudo-class-hover .c-link .c-label:after {
  width: 100%;
}

.c-header-nav-menu__item.pseudo-class-first-child > .c-link {
  border-top: 2px solid #F3F5F9;
}

.c-header-panel-tab.pseudo-class-hover {
  background-color: #F79727;
}

.c-header-panel-tab.pseudo-class-hover:before,
.c-header-panel-tab.pseudo-class-hover:after {
  background-color: #F79727;
}

.c-header-panel-tab.pseudo-class-hover .c-header-panel-tab__title {
  color: #fff;
}

.c-header-panel-tab.pseudo-class-hover .c-header-panel-tab__subtitle {
  color: #fff;
}

.c-header-panel-tab.pseudo-class-hover .c-header-panel-tab__hover {
  opacity: 1;
}

.c-list-block__item.pseudo-class-first-child {
  width: 30%;
}

.c-list-block__item.pseudo-class-last-child {
  width: 70%;
  padding-left: 20px;
}

.c-list-block__item p.pseudo-class-last-child {
  margin-bottom: 0;
}

.c-list-wrapper.pseudo-class-last-child {
  margin-bottom: 0;
}

.c-our-history-slide.pseudo-class-first-child .c-our-history-slide__year,
.c-our-history-slide.pseudo-class-last-child .c-our-history-slide__year {
  width: 100%;
  left: 0;
}

.c-social-icon.pseudo-class-hover {
  color: #F79727;
}