.t-link.pseudo-class-hover .c-label:after {
  background-color: #283A6A;
}

.t-underline.pseudo-class-hover:after,
.c-wysiwyg a:not([class]).pseudo-class-hover:after {
  background-color: #283A6A;
}

.t-body-link.pseudo-class-hover .c-label {
  border-bottom: 1px solid #283A6A;
}

a.pseudo-class-hover {
  text-decoration: none;
}

.ui-link.pseudo-class-hover:before {
  transition-timing-function: cubic-bezier(0.62, 0.02, 0.34, 1);
  transition-duration: .24s;
  transform: scaleX(1);
}

.ui-form input.pseudo-class-focus,
input.ui-input.pseudo-class-focus,
input textarea.pseudo-class-focus,
input select.pseudo-class-focus,
.ui-form
  textarea.pseudo-class-focus,
textarea.ui-input.pseudo-class-focus,
textarea textarea.pseudo-class-focus,
textarea select.pseudo-class-focus,
.ui-form
  select.pseudo-class-focus,
select.ui-input.pseudo-class-focus,
select textarea.pseudo-class-focus,
select select.pseudo-class-focus {
  outline: none;
}

.c-btn--icon-centered.pseudo-class-hover .c-label,
.c-btn--icon-centered.pseudo-class-hover .c-sub-label {
  opacity: 0;
}

.c-btn--icon-centered.pseudo-class-hover .c-btn__icon {
  opacity: 1;
  right: 0;
  left: 0;
  margin: auto;
}

.c-btn--orange.pseudo-class-hover .c-label,
.c-btn--transparent.pseudo-class-hover .c-label {
  left: 10px;
  transform: translate(0, -50%);
}

.c-btn--orange.pseudo-class-hover:after,
.c-btn--transparent.pseudo-class-hover:after {
  opacity: 1;
}

.c-contact-list__item.pseudo-class-first-child {
  display: none;
}

.c-contact-list__item.pseudo-class-last-child {
  margin-bottom: 0;
}

.c-contact-list__item.pseudo-class-hover > .c-contact-list__item-wrapper {
  background-color: rgba(243, 245, 249, 0.4);
}

.c-contact-list__item-wrapper .c-btn-wrapper .c-btn.pseudo-class-hover {
  background-color: #F3F5F9;
}

.c-content-dropdown-tabs__option.pseudo-class-first-child {
  margin-top: 2px;
}

.c-content-tabs__tab.pseudo-class-hover {
  cursor: pointer;
}

.c-content-tabs__btn.pseudo-class-focus {
  outline: none !important;
}

.c-feature-panel-decor.pseudo-class-hover img {
  transform: skew(10deg) scale(1.05);
  transition: all 0.4s ease-out;
}

.c-file-list__date a.pseudo-class-hover:after {
  background-color: #283A6A;
}

.c-file-list__item.pseudo-class-last-child {
  margin-bottom: 0;
}

.c-file-list__item.pseudo-class-hover > .c-file-list__item-wrapper {
  background-color: rgba(243, 245, 249, 0.4);
}

.c-file-list__item-wrapper .c-btn-wrapper .c-btn.pseudo-class-hover {
  background-color: #F3F5F9;
}

.c-footer__nav-item.pseudo-class-hover .c-link .c-label:after {
  width: 100%;
}

.c-header-nav-menu__item.pseudo-class-first-child > .c-link {
  border-top: 2px solid #F3F5F9;
}

.c-header-panel-tab.pseudo-class-hover .c-header-panel-tab__hover {
  top: 0;
}

.c-info-panel__item.pseudo-class-first-child {
  margin-top: 0;
}

.c-image-content__image.pseudo-class-hover img {
  transform: scale(1.05);
  transition: all 0.4s ease-out;
}

.c-latest-news-card__container.pseudo-class-hover:after {
  width: 100%;
}

.c-list-block__item.pseudo-class-first-child {
  width: 30%;
}

.c-list-block__item.pseudo-class-last-child {
  width: 70%;
  padding-left: 20px;
}

.c-list-table a.pseudo-class-hover span {
  border-bottom: 1px solid #000;
}

.c-list-wrapper.pseudo-class-last-child {
  margin-bottom: 0;
}

.c-our-history-slide.pseudo-class-hover .c-our-history-slide__img img {
  transform: translate(-50%, -50%) scale(1.1);
  transition: all 0.4s ease-out;
}

.c-our-history-slide.pseudo-class-first-child .c-our-history-slide__year,
.c-our-history-slide.pseudo-class-last-child .c-our-history-slide__year {
  width: 100%;
  left: 0;
}

.c-quick-links-card__container.pseudo-class-hover .t-link .c-label:after {
  background-color: #283A6A;
}

.c-quick-links-card.pseudo-class-hover .c-quick-links-card__decor img {
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}

.c-social-icon.pseudo-class-hover {
  color: #F79727;
}

.c-table a.pseudo-class-hover span {
  border-bottom: 1px solid #000;
}

.c-table-list__item.pseudo-class-last-child {
  border-bottom: 2px solid #283A6A;
}