@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes looped {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(45deg) translateY(10px) translateX(10px);
  }
}