/* ==========================================================================
Body
========================================================================== */
body {
    &.is-header-open {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        @include media('>=desktop') {
            overflow: auto;
        }
    }
    &.is-modal-open {
        overflow: hidden;
        padding-right: 15px;
    }
}
