/* ==========================================================================
   Mixins
   ========================================================================== */

/* 1. Font smoothing
========================================================================== */
/* Better font-rendering on OSX
   https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
*/
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/* 2. A clearfix for floated elements
========================================================================== */
@mixin clearfix {
    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        overflow: hidden;

        height: 0;
        margin: 0!important;

        line-height: 0;

        content: '';
    }
}
/* 3. Append a modificator class that changes color/bg
========================================================================== */
@mixin color-modifiers {
    @each $name, $hex in $colors {
        &--#{$name} {
            color: $hex;
        }
    }
}

@mixin background-modifiers {
    @each $name, $hex in $colors {
        &--#{$name} {
            background-color: $hex;
        }
    }
}

@mixin transition ($duration: 170ms, $timing: ease) {
    transition-timing-function: $timing;
    transition-duration: $duration;
}

@mixin ellipsis () {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin animate-link ($anim-line-h: 100%, $anim-line-v: 1px, $paint: currentColor) {
    position: relative;

    overflow: hidden;
    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

        width: $anim-line-h;
        height: $anim-line-v;

        transition: .18s cubic-bezier(.52, .01, .16, 1);
        transform: scaleX(0);
        transform-origin: 0 50%;

        background: $paint;
    }
}

@mixin animate-link-reverse () {
    &:before {
        transition-timing-function: cubic-bezier(.62, .02, .34, 1);
        transition-duration: .24s;
        transform: scaleX(1);
    }
}

// sizes
@each $offset, $size in $offsets {
    .u-gutter--#{$offset} {
        padding-top: offset(#{$offset});
        padding-bottom: offset(#{$offset});
    }
    .u-gutter-top--#{$offset} {
        padding-top: offset(#{$offset});
    }
    .u-gutter-bot--#{$offset} {
        padding-bottom: offset(#{$offset});
    }
}

@mixin arrow() {
    display: block;

    width: $size-header-panel-arrow-width;
    height: $size-header-panel-arrow-width;

    border: {
        bottom: $size-default-border solid color(accent);
        right: $size-default-border solid color(accent);
    }
}

@mixin arrow-small() {
    display: block;

    width: $size-header-panel-arrow-width-small;
    height: $size-header-panel-arrow-width-small;

    border: {
        bottom: $size-default-border solid color(accent);
        right: $size-default-border solid color(accent);
    }
}

@mixin arrow-big() {
    display: block;

    width: $size-header-panel-arrow-width-big;
    height: $size-header-panel-arrow-width-big;

    border: {
        bottom: $size-default-border solid color(accent);
        right: $size-default-border solid color(accent);
    }
}

@mixin gradient-background-default() {
    background: -moz-linear-gradient(top,  rgba(40,58,106,0) 0%, rgba(40,58,106,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(40,58,106,0) 0%,rgba(40,58,106,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(40,58,106,0) 0%,rgba(40,58,106,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00283a6a', endColorstr='#a6283a6a',GradientType=0 );
}

@keyframes looped {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(45deg) translateY(10px) translateX(10px);
    }
}

@mixin arrow-wiggle() {
    animation-duration: 1s;
    animation-name: looped;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
