/* ==========================================================================
   Variables
   ========================================================================== */

@import "https://fonts.googleapis.com/css?family=Lato:200,200i,400,400i,700,700i,900,900i&subset=latin-ext";

/* Maps
========================================================================== */
/*
    The names and values of variables in maps are just suggestions/random values.
    Feel free to add new values, modify both the values and/or keys of the items depending on the project and your prefferences.
    For each map, a functions is defined (in base/_functions.scss).
    By default, function names are single a singular form of the map's variable name.
    Eg. To use the "main" color, a getter function "color" is defined.
    To use it, simply call: color(main).
*/
$colors: (
    main: #283A6A,
    accent: #F79727,
    lblue: #F3F5F9,
    mapblue: #4A90E2,
    dgrey: #444444,
    white: #fff,
    lgrey: #A2A1A2,
    mapgreen: #30B6B5,
    black: black
);

$sizes: (
    inner: (
        desktop: 1040px, // 1400 - ...
        tablet: 700px, // 768 - 1024
        mobile: 320px // 0 - 767
    ),
    breakpoint: (
        desktop: 1440px, // up
        desktop-small: 1200px, // up
        tablet: 1024px, // up
        mobile: 768px, // up
        mobile-small: 375px // up
    )
);

$font-sizes: (
    body: 18px,
    body-m: 16px,
    body--big: 20px,
    small: 14px,
    small-m: 14px,
    smaller: 12px,
    smallest: 10px,
    h1: 44px,
    h1-m: 36px,
    h2: 36px,
    h2-m: 30px,
    standfirst: 22px,
    standfirst-m: 18px,
    timeline: 36px,
    big: 70px
);

$offsets: (
    s: 5px,
    main: 10px,
    default: 35px,
    l: 20px,
    xl: 50px,
    xxl: 100px,
    xxxl: 150px
);

$fonts: (
    main: #{'Lato', 'Arial', sans-serif}
);

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 200;

$defaults: (
    border-radius: 4px,
    line-height: 1.55
);

$transition-default: all .2s linear;
$transition-slow: all .4s linear;

/* Standalone variables
========================================================================== */
$white-space: 1em;
$form-control-height: 2rem;

$size-default-border: 2px;
$size-big-border: 3px;

/* Header
=========================== */

$z-index-header: 100;
$size-header-height-m: 60px;
$size-header-height-d: 80px;
$size-footer-height: 60px;
$size-header-menu-item-height: 46px;
$size-header-sub-menu-width-d: 320px;
$size-logo-width-m: 60px;
$size-logo-width-d: 100px;
$size-logo-narrow: 66px;
$size-hamburger-width: 40px;
$size-hamburger-line-height: 4px;
$size-search-width: 21px;
$size-mobile-menu-border-width: 2px;
$size-mobile-menu-submenu-toggle-width: 25px;
$size-social-icon-width: 27px;
$z-index-search-container: 105;
$size-search-container-height: 80px;
$size-search-form-height: 40px;

/* Buttons Btn Btns
=========================== */
$size-btn-medium-width: 230px;

/* Header panel / hero panel component
=========================== */
$size-header-panel-arrow-width: 38px;
$size-header-panel-arrow-width-small: 24px;
$size-header-panel-tab-width: 235px;
$size-header-panel-tab-height: 60px;
$size-header-panel-tab-width-t: 235px;
$size-header-panel-tab-height-t: 60px;

/* Latest news component
=========================== */
$size-latest-news-card: 230px;
$size-latest-news-arrow-z-index: 10;

/* Feature panel component
=========================== */
$size-feature-panel-decor-height: 250px;
$size-feature-panel-height-d: 570px;

/* Quick links component
=========================== */
$size-quick-links-card-width: 230px;
$size-quick-links-card-height: 400px;
$size-quick-links-card-height-t: 420px;
$size-quick-links-arrow-z-index: 10;
$size-quick-links-img-height: 170px;
$size-quick-links-img-height-t: 230px;

/* Our history / Our story component
=========================== */
$size-our-story-card-height: 480px;
$size-our-story-card-height-d: 550px;
$size-our-story-card-img-height: 180px;
$size-our-story-card-img-height-t: 230px;
$size-our-story-card-year-height: 42px;
$size-our-story-card-dot-size: 15px;
$size-our-story-arrow-width: 30px;
$size-our-story-arrow-width-t: 38px;
$size-our-story-offset-t: 120px;
$size-our-story-slider-date-width: 55px;
