
<h3 class="c-map-pin__title t-h3">
    {{title}}
</h3>
<p class="c-map-pin__desc t-body">
    {{desc}}
</p>
<div class="c-btn-wrapper c-btn-wrapper--left">
    <a href="{{readMoreLink}}" class="c-btn c-btn--primary c-btn--medium t-btn t-white">
        <span class="c-label">
            {{readMoreTitle}}
        </span>
    </a>
</div>
