/* ==========================================================================
   Inner
   ========================================================================== */
@mixin inner () {
    @include media('<desktop') {
        padding-right: offset(main) * 2.5;
        padding-left: offset(main) * 2.5;
    }

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: size(inner, desktop);
    margin: 0 auto;

    vertical-align: baseline;
}

.l-inner {
    @include inner;

    &--90 {
        max-width: 93%;

        @include media('>tablet') {
            max-width: 700px;
        }
    }
    &--80 {
        max-width: 80%;
    }
    &--70 {
        max-width: 70%;
    }
    &--55 {

        @include media('>=desktop-small') {
            max-width: 700px;
        }
    }
}

.l-header .l-inner {
    padding: 0;
}