/* ==========================================================================
   Sections
   ========================================================================== */
.l-section {
    margin-bottom: offset(main) * 6;

    &--inner-spacing {
        padding: offset(main) * 3 0 offset(main) * 9;

        @include media('>=mobile') {
            padding: offset(main) * 5 0 offset(main) * 9;
        }
        @include media('>=desktop-small') {
            padding: offset(main) * 5 0 offset(main) * 9;
        }
    }
    &--bg-alt {
        background-color: color(lblue);
    }
    &--no-overflow {
        overflow: hidden;
    }
    &--no-offset {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    &--always-centered {
        .l-inner {
            align-items: center;
        }
    }
    &--offset-m-only {
        margin-bottom: offset(main) * 4;
    }
    &--padded {

        @include media('>=desktop-small') {
            padding-top: offset(main) * 9;
        }
    }
    &--padded-bottom {

        @include media('>=desktop-small') {
            padding-bottom: offset(main) * 3;
        }
    }
    &--our-story {
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            display: block;

            position: absolute;
            bottom: $size-our-story-card-year-height + offset(main) - 1;
            left: - offset(main);

            width: 110vw;
            height: 1px;

            background-color: color(main);

            @include media('>=mobile') {
                display: none;
            }
        }
    }
}

.l-hero {
    margin-bottom: offset(main) * 9;
    position: relative;
}
