/* ==========================================================================
   Footer
   ========================================================================== */
// Footer
//
//  markup:
// <div class="l-footer">
//     <div class="l-inner">
//         <div class="c-footer">
//             <div class="c-footer__logo-wrapper">
//                 <a class="c-link" href="#">
//                     <figure class="c-logo c-logo--narrow">
//                         <img src="../static/img/logo-white.png" alt="OCI" class="c-img" />
//                     </figure>
//                 </a>
//             </div>
//             <p class="c-footer__nav-item t-menu t-menu--small t-white">
//                 <a href="#" class="c-link">
//                    <span class="c-label">
//                        Legal Policy
//                    </span>
//                 </a>
//              </p>
//             <p class="c-footer__nav-item t-menu t-menu--small t-white">
//                 <a href="#" class="c-link">
//                    <span class="c-label">
//                        Privacy Policy
//                    </span>
//                 </a>
//              </p>
//             <div class="c-footer__social-wrapper">
//                 <a class="c-link" href="#">
//                     <figure class="c-social-icon">
//                         <img src="../static/img/linkedin.svg" alt="OCI LinkedIn" class="c-img" />
//                     </figure>
//                 </a>
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 2

.l-footer {
    width: 100%;
    height: $size-footer-height;

    background-color: color(main);

}

.l-footer .l-inner {
    height: 100%;
}

.is-header-open .l-footer {
    position: fixed;
    bottom: 0;
    left: 0;

    transition: $transition-default;
}
