/* ==========================================================================
   Sections
   ========================================================================== */
.l-section {
    margin-bottom: offset(main) * 6;

    &--bg-alt {
        background-color: color(lblue);
    }
    &--no-overflow {
        overflow: hidden;
    }
    &--no-offset {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    &--our-story {
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            display: block;

            position: absolute;
            bottom: $size-our-story-card-year-height + offset(main) - 1;
            left: - offset(main);

            width: 110vw;
            height: 1px;

            background-color: color(main);

            @include media('>=mobile') {
                display: none;
            }
        }
    }
}

.l-hero {
    margin-bottom: offset(main) * 6;
}

.l-tab {
    overflow: hidden;
    height: 0;

    &.is-active {
        height: auto;
    }
}
